@page "/benefits"

<div class="position-relative overflow-hidden p-3 p-md-5 text-center d-flex align-items-center">
    <div class="bg-image"></div>
    <div class="content-wrapper position-absolute">
        <div class="col p-lg-5 my-5 text-start text-white">
            <h1 style="font-size:80px; font-weight:700;">Benefits</h1>
            <p class="lead fw-normal mt-5">
                Your health and well-being are crucial to our collective success.
                <br /> Learn more about the top-rated benefits Uju employees enjoy.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="my-5 mx-auto text-center">
        <h1 class="display-4 fw-bolder">Comprehensive healthcare</h1>
        <h1 class="fs-5 text-muted">
            We take wellness to heart and strive to keep our teams happy and healthy in all they do, now and in the future.
        </h1>
    </div>

    <div class="row row-cols-1 row-cols-md-4 mb-3 text-center" style="max-width: 80vw; margin: 0 auto;">
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column" style="min-height: 250px; background-color:#F7F7F7">
                <div class="card-body flex-grow-1">
                    <h4 class="my-0 fw-bold mb-3">Medical</h4>
                    Uju provides access to a multitude of
                    medical plans which all include prescription
                    coverage and wellness resources to keep you
                    balanced.
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column" style="min-height: 250px; background-color:#F7F7F7">
                <div class="card-body flex-grow-1">
                    <h4 class="my-0 fw-bold mb-3">Dental</h4>
                    Flexibility is a key feature of our dental plans,
                    giving you the freedom to choose from a long
                    roster of dentists.
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column" style="min-height: 250px; background-color:#F7F7F7">
                <div class="card-body flex-grow-1">
                    <h4 class="my-0 fw-bold mb-3">Paid Time Off</h4>
                    We offer a generous PTO policy that allows all
                    regular, full-time employees to accrue the
                    equivalent of 20 days per year, increasing with
                    tenure, in addition to company holidays.
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column" style="min-height: 250px; background-color:#F7F7F7">
                <div class="card-body flex-grow-1">
                    <h4 class="my-0 fw-bold mb-3">Family Care</h4>
                    Our people and their families receive
                    world-class therapeutic services and support
                    through our health network.
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="my-5 mx-auto text-center">
        <h1 class="display-4 fw-bolder">Work Life Success</h1>
        <h1 class="fs-5 text-muted">
            Balance is the key to sustainable innovation. With Work Life Success, we strive to help you synchronize work and personal life.
        </h1>
    </div>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 text-center d-flex align-items-center">
    <div class="bg-image2"></div>
</div>

<div class="overflow-hidden text-center" style="background-color:#808080; min-height:200px">
    <div class="col mx-auto my-5">
        <p class="h1 fw-bold text-white">Ready to get started?</p>
        <a class="btn bg-white mt-3 fw-bold smooth-rounded px-4" href="apply">Explore open roles <i style="transform: rotate(45deg);" class="fas fa-arrow-up"></i></a>
    </div>
</div>
