@page "/"

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
    <div class="bg-image"></div>
    <div class="content-wrapper position-relative">
        <div class="col-md-5 p-lg-5 my-5 text-start text-white" style="margin-top: 200px;">
            <h1 class="display-4 fw-normal">The future is never finished</h1>
            <p class="lead fw-normal">@Text the world and create the future at UJU.</p>
        </div>
    </div>
</div>


<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-bolder">Who we are</h1>
    <p class="fs-5 text-muted">
        We exist to create human-driven innovations that defy barriers to make a better world for all.
    </p>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col d-flex">
        <div class="card mb-4 rounded-3 shadow-sm flex-grow-1 d-flex flex-column">
            <div class="card-header py-3">
                <h4 class="my-0 fw-bold">Life at UJU</h4>
            </div>
            <div class="card-body flex-grow-1">
                We're nimble, relentless and always
                making the next great thing. Join a diverse
                and driven league of imaginations
                impacting the globe.
                <button type="button" class="w-100 btn mt-3 fw-bold"><u>Learn More</u></button>
            </div>
        </div>
    </div>
    <div class="col d-flex">
        <div class="card mb-4 rounded-3 shadow-sm flex-grow-1 d-flex flex-column">
            <div class="card-header py-3">
                <h4 class="my-0 fw-bold">Benefits</h4>
            </div>
            <div class="card-body flex-grow-1">
                A company is its people and your health
                and wellness are at the core of our drive to
                innovate. Learn more about the top-rated
                benefits UJU employees enjoy.
                <button type="button" class="w-100 btn mt-3 fw-bold"><u>Learn More</u></button>
            </div>
        </div>
    </div>
    <div class="col d-flex">
        <div class="card mb-4 rounded-3 shadow-sm flex-grow-1 d-flex flex-column">
            <div class="card-header py-3">
                <h4 class="my-0 fw-bold">Internships</h4>
            </div>
            <div class="card-body flex-grow-1">
                Our dynamic internships help you expand
                your expertise and experience through rich
                exposure to leadership, opportunities to
                make an impact and empowerment to
                bring new ideas to life.
                <button type="button" class="w-100 btn mt-3 fw-bold"><u>Learn More</u></button>
            </div>
        </div>
    </div>
</div>

<div class="container marketing">

    <hr class="featurette-divider">

    <div class="row featurette d-flex align-items-center">
        <div class="col-md-6 order-md-2">
            <h2 class="featurette-heading">Push the world forward</h2>
            <p class="lead">
                We spend every day at Uju boldly experimenting, constantly
                driven to make life better for everyone. As the Sales and Marketing
                subsidiary, our teams at Uju Electronics America bring our mobile
                devices, connected appliances, home entertainment, 5G networks and
                digital solutions to life for people across the nation — to make our days
                more productive, more delightful, more inspired.
            </p>
        </div>
        <div class="col-md-6 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="100%" height="700" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-bolder">Our teams</h1>
        <p class="fs-5 text-muted">
            We’re more than technology. Every role at Uju presents a new opportunity to make a lasting, global impact.
        </p>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Marketing</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Marketing</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Marketing</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Marketing</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Marketing</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Marketing</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 fw-normal">Ready to get started?</h1>
            <a class="btn btn-outline-secondary" href="#">Explore open roles</a>
        </div>
    </div>


</div><!-- /.container -->
@code {
    public string Text { get { return "Hello"; } }
}