.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 810px;
    background: url('/img/index/Home.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.position-relative {
    position: relative;
    min-height: 810px;
}
