@page "/"

<div class="position-relative overflow-hidden p-3 p-md-5 text-center d-flex align-items-center">
    <div class="bg-image"></div>
    <div class="content-wrapper position-absolute">
        <div class="col p-lg-5 my-5 text-start text-white">
            <h1 style="font-size:80px; font-weight:700;">The future is<br />never finished</h1>
            <p class="lead fw-normal mt-5">Inspire the world and create the future at UJU.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="my-5 mx-auto text-center">
        <h1 class="display-4 fw-bolder">Who we are</h1>
        <h1 class="fs-5 text-muted">
            We exist to create human-driven innovations that defy barriers to make a better world for all.
        </h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="max-width: 80vw; margin: 0 auto;">
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column" style="min-height: 500px; background-color:#F7F7F7">
                <div class="py-3">
                    <h4 class="my-0 fw-bold">Life at UJU</h4>
                </div>
                <div class="card-body flex-grow-1">
                    We're nimble, relentless and always
                    making the next great thing. Join a diverse
                    and driven league of imaginations
                    impacting the globe.
                    <button type="button" class="w-100 btn mt-3 fw-bold"><u>Learn More</u></button>
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column" style="min-height: 500px; background-color:#F7F7F7">
                <div class="py-3">
                    <h4 class="my-0 fw-bold">Benefits</h4>
                </div>
                <div class="card-body flex-grow-1">
                    A company is its people and your health
                    and wellness are at the core of our drive to
                    innovate. Learn more about the top-rated
                    benefits UJU employees enjoy.
                    <button type="button" class="w-100 btn mt-3 fw-bold"><u>Learn More</u></button>
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column" style="min-height: 500px; background-color:#F7F7F7">
                <div class="py-3">
                    <h4 class="my-0 fw-bold">Internships</h4>
                </div>
                <div class="card-body flex-grow-1">
                    Our dynamic internships help you expand
                    your expertise and experience through rich
                    exposure to leadership, opportunities to
                    make an impact and empowerment to
                    bring new ideas to life.
                    <button type="button" class="w-100 btn mt-3 fw-bold"><u>Learn More</u></button>
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row d-flex align-items-center gx-5">
        <div class="col-md-6 order-md-2">
            <h1 class="display-4 fw-bolder">Push the world forward</h1>
            <p class="lead">
                We spend every day at Uju boldly experimenting, constantly
                driven to make life better for everyone. As the Sales and Marketing
                subsidiary, our teams at Uju Electronics America bring our mobile
                devices, connected appliances, home entertainment, 5G networks and
                digital solutions to life for people across the nation — to make our days
                more productive, more delightful, more inspired.<br />
                We spend every day at Uju boldly experimenting, constantly
                driven to make life better for everyone. As the Sales and Marketing
                subsidiary, our teams at Uju Electronics America bring our mobile
                devices, connected appliances, home entertainment, 5G networks and
                digital solutions to life for people across the nation — to make our days
                more productive, more delightful, more inspired.
            </p>
        </div>
        <div class="col-md-6 order-md-1">
            <img src="/img/index/Push.jpg" alt="Description of image" class="img-fluid" style="min-height:700px; width:auto; object-fit:cover;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-bolder pb-md-4">Our teams</h1>
        <h1 class="fs-5 text-muted">
            We’re more than technology. Every role at Uju presents a new opportunity to make a lasting, global impact.
        </h1>
    </div>
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div>
                        <img src="/img/index/Marketing.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Marketing</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/img/index/Sales.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Sales</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/img/index/Corporate Support.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Corporate support</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/img/index/Technology.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Technology</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/img/index/Customer Solutions.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Customer solutions</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/img/index/Design.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>Design</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overflow-hidden text-center" style="background-color:#808080; min-height:200px">
    <div class="col mx-auto my-5">
        <p class="h1 fw-bold text-white">Ready to get started?</p>
        <a class="btn bg-white mt-3 fw-bold smooth-rounded px-4" href="apply">Explore open roles <i style="transform: rotate(45deg);" class="fas fa-arrow-up"></i></a>
    </div>
</div>