@page "/lifeatuju"

<Banner Title="Life at<br />UJU"
        SubTitle="Our vision is bold and audacious, and so is our community culture."
        BackgroundPath="/img/life/LifeAtUju.jpg" />

<div class="container">
    <div class="my-5 mx-auto text-center">
        <h1 class="display-4 fw-bolder">What we stand for</h1>
        <h1 class="fs-5 text-muted">
            Uju is founded on a simple philosophy – that the endless pursuit of excellence will create a better world for all. Here are the five key values
            that drive everything we do, and how we do it.
        </h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="max-width: 80vw; margin: 0 auto;">
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column" style="min-height: 250px; background-color:#F7F7F7">
                <div class="py-3">
                    <i class="fas fa-user"></i>
                </div>
                <div class="card-body flex-grow-1">
                    <h4 class="my-0 fw-bold">Human experience</h4>
                    Our basic principle is that a company is its
                    people. We’re guided by our desire to create an
                    environment where individuals can flourish and
                    achieve the impossible.
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column" style="min-height: 250px; background-color:#F7F7F7">
                <div class="py-3">
                    <i class="fas fa-cubes"></i>
                </div>
                <div class="card-body flex-grow-1">
                    <h4 class="my-0 fw-bold">Defiant optimism</h4>
                    We exist where passion and brilliance collide,
                    always pushing ourselves and our colleagues to
                    be – and do – our best.
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column" style="min-height: 250px; background-color:#F7F7F7">
                <div class="py-3">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="card-body flex-grow-1">
                    <h4 class="my-0 fw-bold">Progressive innovation</h4>
                    We welcome and anticipate the future, greeting
                    change with agility and creativity. Constant
                    innovation is our key to strength and success.
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="my-5 mx-auto text-center">
        <h1 class="display-4 fw-bolder">Meet our team</h1>
    </div>

    <div class="row d-flex align-items-center gx-5">
        <div class="col-md-6 order-md-2">
            <h1 class="display-4 fw-bolder">Seth Brown,<br />Representative Designer</h1>
            <p class="lead">
                "Building.......................'"
            </p>
        </div>
        <div class="col-md-6 order-md-1">
            <img src="/img/life/AWorker.jpg" alt="Description of image" class="img-fluid" style="min-height:500px; width:auto; object-fit:cover;">
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-bolder pb-md-4">Where we work</h1>
    </div>
</div>

<div class="position-relative overflow-hidden p-3 p-md-5 text-center d-flex align-items-center">
    <div class="bg-image3"></div>
</div>
<Banner BackgroundPath="/img/life/Map.jpg" MinHeight="810" />

<div class="container">
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-5">
                <div class="col">
                    <div>
                        <img src="/img/life/ALocation.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>New York, NY</h3>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">
                                180+ employees<br />
                                Marketing hub<br />
                                In the heart of Manhattan<br />
                                Interactive digital installations<br />
                                Open floor plan<br />
                                Gaming lounge<br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/img/life/BLocation.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>New York, NY</h3>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">
                                180+ employees<br/>
                                Marketing hub<br />
                                In the heart of Manhattan<br />
                                Interactive digital installations<br />
                                Open floor plan<br />
                                Gaming lounge<br/>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/img/life/CLocation.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>New York, NY</h3>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">
                                180+ employees<br />
                                Marketing hub<br />
                                In the heart of Manhattan<br />
                                Interactive digital installations<br />
                                Open floor plan<br />
                                Gaming lounge<br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div>
                        <img src="/img/life/DLocation.jpg" alt="Description of image" style="height:225px; width:100%; object-fit:cover;">
                        <div class="card-title fw-bold text-center mt-3">
                            <h3>New York, NY</h3>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">
                                180+ employees<br />
                                Marketing hub<br />
                                In the heart of Manhattan<br />
                                Interactive digital installations<br />
                                Open floor plan<br />
                                Gaming lounge<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<Footer/>