@page "/internship"

<Banner Title="Internships"
        SubTitle=" UJU’s dynamic internships prepare talent for successful and fulfilling,<br />
                   careers, with access to top leaders across our organization."
        BackgroundPath="/img/intern/Internship.jpg" />

<div class="container">
    <div class="my-5 mx-auto text-center">
        <h1 class="display-4 fw-bolder">Intern Perks</h1>
        <h1 class="fs-5 text-muted">
            To nurture every aspect of your life within Uju and beyond, interns enjoy access to a wide range of additional benefits.
        </h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="max-width: 80vw; margin: 0 auto;">
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column" style="min-height: 250px; background-color:#F7F7F7">
                <div class="card-body flex-grow-1">
                    <h4 class="my-0 fw-bold mb-3">Experience UJU Technology</h4>
                    Interact with the latest and greatest technology.
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column" style="min-height: 250px; background-color:#F7F7F7">
                <div class="card-body flex-grow-1">
                    <h4 class="my-0 fw-bold mb-3">Learn from Professionals</h4>
                    Learn from the best in your field of interest.
                </div>
            </div>
        </div>
        <div class="col d-flex">
            <div class="card mb-4 rounded-3 flex-grow-1 d-flex flex-column" style="min-height: 250px; background-color:#F7F7F7">
                <div class="card-body flex-grow-1">
                    <h4 class="my-0 fw-bold mb-3">Social Events and Networking</h4>
                    Create lasting relationships with fellow interns and the team.
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="my-5 mx-auto">
        <div class="text-center mb-5">
            <h1 class="display-4 fw-bolder">Internship FAQs</h1>
        </div>
        <div class="fs-5 text-muted text-left">
            <p class="mb-4">
                <strong>Q:</strong> Is the internship program paid?
                <br /><strong>A:</strong> Our interns are just as prized as our full-time teammates, and are paid for their work.
            </p>
            <p class="mb-4">
                <strong>Q:</strong> How can I apply for an internship opportunity with UJU?
                <br /><strong>A:</strong> Check out our open internship opportunities here ↗, and choose ‘Intern’ under the filter for Job Type.
            </p>
            <p class="mb-4">
                <strong>Q:</strong> Can I apply for an internship if I’ve already graduated?
                <br /><strong>A:</strong> To be eligible for UJU’s Internship program you must be currently enrolled in a qualifying degree or certificate program.
            </p>
            <p class="mb-4">
                <strong>Q:</strong> Which UJU teams offer internships?
                <br /><strong>A:</strong> Internships in Marketing, Strategy, Product Management, Software Development, Networks, Engineering, and Corporate Functions are available.
            </p>
            <p class="mb-4">
                <strong>Q:</strong> When should I apply for an internship?
                <br /><strong>A:</strong> Internships are posted September-January. We encourage candidates to apply early.
            </p>
        </div>
    </div>
</div>

<Footer />