@page "/jobs/{JobID}"
<div class="container">
    @if (Posting != null)
    {
        switch (ApplyStatus)
        {
            case ApplyStatus.OnDescription:
                <JobDescriptionComponent Posting=Posting UpdateStatus="UpdateStatus" />
                break;
            case ApplyStatus.OnResumeUpload:
                <JobResumeUploadComponent Posting=Posting UpdateStatus="UpdateStatus" />
                break;
            case ApplyStatus.OnQuestionnaire:
                <JobQuestionnaireComponent Posting=Posting UpdateStatus="UpdateStatus" />
                break;
            case ApplyStatus.OnReview:
                <JobReviewComponent Posting=Posting UpdateStatus="UpdateStatus" />
                break;
            case ApplyStatus.OnSubmission:
                <JobSubmitSuccessComponent Posting=Posting />
                break;
        }
    }
    else
    {
        <div class="my-5 mx-auto text-center w-50">
            <div class="alert alert-danger" role="alert">
                Invalid Acess
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public string JobID { get; set; }

    public JobPosting Posting { get; set; }

    private ApplyStatus ApplyStatus { get; set; } = ApplyStatus.OnDescription;

    protected override async Task OnInitializedAsync()
    {
        if (int.TryParse(JobID, out int jobID))
        {
            Posting = await JobService.GetJobPosting(jobID);
        }
    }

    public void UpdateStatus(ApplyStatus status)
    {
        ApplyStatus = status;
        StateHasChanged();
    }
}
